!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		#svgInject
			/ inject:svg
			/ endinject

		%main{:role => "main"}

			%section

				= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

				%article{"data-container" => "width_720"}

					%a.link_menu{:href => "#", :title => "Sample Menu", :target => "_blank"}
						%span Sample Menu

					.wrap_txt
						%h2 Window Only
						%h3 Noon – 2:30 PM
						%h3 Tuesday to Fridays Only

					.wrap_txt
						%h2 Dinner
						%h3 5:30 PM &ndash; Late
						%h3 Closed Mondays

						%h2 Window
						%h3 5:30 PM – Late

					.wrap_txt
						%h2 Walk Ins Welcome / No Reservations
						%h4 380 Elgin St. / Ottawa
						%h4 613.422.2800

				-# imagesLoaded cannot see background-images, so we add it here
				#load_images.visuallyhidden
					%img{:src => "assets/img/bg_elcamino.jpg", :alt => ""}

				= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render