%footer

	%h4 Follow us:

	.wrap_social

		%a.wrap_svg.wrap_social-twitter{:href => "https://twitter.com/eatelcamino", :title => "Follow us on Twitter", :target => "_blank"}
			%svg.social_twitter{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#social_twitter"}

		%a.wrap_svg.wrap_social-instagram{:href => "https://instagram.com/chefelcamino/", :title => "See us on Instagram", :target => "_blank"}
			%svg.social_instagram{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#social_instagram"}

	:plain
		<h5>Please direct media/interview requests here <a href="SECRETEMAIL" id="secret_email" title="Email Us">Email Us</a></h5>