%header{"data-container" => "width_1200"}

	%h1.visuallyhidden El Camino

	.wrap_svg.wrap_elc-logo
		%svg.elc_logo{:viewBox => "0 0 64 58"}
			%use{"xlink:href" => "#elc_logo"}

	.wrap_svg.wrap_elc-wordmark
		%svg.elc_wordmark{:viewBox => "0 0 238 58"}
			%use{"xlink:href" => "#elc_wordmark"}